<?xml version="1.0" encoding="utf-8" ?>
<config>
    <fieldset name="display" label="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_TITLE" description="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_DESC">
        <field type="spacer" class="text" label="COM_UDJACOMMENTS_CONFIG_DISPLAY_FIELD_GENERAL_TITLE" />
        <field name="form_position" type="radio" label="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_FIELD_FORMPOSITION_LABEL" description="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_FIELD_FORMPOSITION_DESC" default="top">
            <option value="top">COM_UDJACOMMENTS_OPTION_TOP</option>
            <option value="bottom">COM_UDJACOMMENTS_OPTION_BOTTOM</option>
        </field>
        <field name="published_default" type="radio" default="1" label="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_FIELD_PUBLISHEDDEFAULT_LABEL" description="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_FIELD_PUBLISHEDDEFAULT_LABEL">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="per_page" type="text" filter="integer" label="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_FIELD_PERPAGE_LABEL" description="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_FIELD_PERPAGE_DESC" default="10" />
        <field name="reply_allowed" type="radio" default="1" label="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_FIELD_REPLYALLOWED_LABEL" description="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_FIELD_REPLYALLOWED_LABEL">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="reply_depth" type="text" filter="integer" label="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_FIELD_REPLYDEPTH_LABEL" description="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_FIELD_REPLYDEPTH_DESC" default="3" />
        <field name="ordering" type="radio" label="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_FIELD_ORDERING_LABEL" description="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_FIELD_ORDERING_LABEL" default="DESC">
            <option value="ASC">COM_UDJACOMMENTS_OPTION_ASCENDING</option>
            <option value="DESC">COM_UDJACOMMENTS_OPTION_DESCENDING</option>
        </field>
        <field name="avatar_allowed" type="radio" default="1" label="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_FIELD_AVATARALLOWED_LABEL" description="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_FIELD_AVATARALLOWED_LABEL">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="avatar_default" type="media" directory="avatars" label="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_FIELD_AVATARDEFAULT_LABEL" description="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_FIELD_AVATARDEFAULT_LABEL" />
        <field name="gravatar_enabled" type="radio" default="1" label="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_FIELD_GRAVATARENABLED_LABEL" description="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_FIELD_GRAVATARENABLED_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field type="spacer" class="text" label="COM_UDJACOMMENTS_CONFIG_DISPLAY_FIELD_FORM_TITLE" />
        <field name="force_url" type="radio" label="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_FIELD_FORCEURL_LABEL" description="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_FIELD_FORCEURL_LABEL" default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="force_email" type="radio" label="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_FIELD_FORCEEMAIL_LABEL" description="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_FIELD_FORCEEMAIL_LABEL" default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="enable_notifications" type="radio" label="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_FIELD_ENABLENOTIFICATIONS_LABEL" description="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_FIELD_ENABLENOTIFICATIONS_LABEL" default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="enable_signup" type="radio" label="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_FIELD_ENABLESIGNUP_LABEL" description="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_FIELD_ENABLESIGNUP_LABEL" default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field type="spacer" class="text" label="COM_UDJACOMMENTS_CONFIG_DISPLAY_FIELD_CONTENT_TITLE" />
        <field name="enable_catlist" type="radio" label="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_FIELD_ENABLECATLIST_LABEL" description="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_FIELD_ENABLECATLIST_LABEL" default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="cat_list" type="category" extension="com_content" size="7" multiple="true" label="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_FIELD_CATLIST_LABEL" description="COM_UDJACOMMENTS_CONFIG_DISPLAY_TAB_FIELD_CATLIST_LABEL" />
    </fieldset>
    <fieldset name="spam" label="COM_UDJACOMMENTS_CONFIG_SPAM_TAB_TITLE" description="COM_UDJACOMMENTS_CONFIG_SPAM_TAB_DESC">
        <field type="spacer" class="text" label="COM_UDJACOMMENTS_CONFIG_SPAM_TAB_BASIC_TITLE" />
        <field name="link_count" type="text" filter="integer" label="COM_UDJACOMMENTS_CONFIG_SPAM_TAB_FIELD_LINKCOUNT_LABEL" description="COM_UDJACOMMENTS_CONFIG_SPAM_TAB_FIELD_LINKCOUNT_DESC" default="3" />
        <field name="word_list" type="textarea" filter="string" label="COM_UDJACOMMENTS_CONFIG_SPAM_TAB_FIELD_WORDLIST_LABEL" description="COM_UDJACOMMENTS_CONFIG_SPAM_TAB_FIELD_WORDLIST_DESC" default="" />
        <field type="spacer" class="text" label="COM_UDJACOMMENTS_CONFIG_SPAM_TAB_RECAPTCHA_TITLE" />
        <field name="enable_recaptcha" type="radio" label="COM_UDJACOMMENTS_CONFIG_SPAM_TAB_FIELD_ENABLE_RECAPTCHA_LABEL" description="COM_UDJACOMMENTS_CONFIG_SPAM_TAB_FIELD_ENABLE_RECAPTCHA_DESC" default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="recaptcha_public_key" type="text" filter="string" label="COM_UDJACOMMENTS_CONFIG_SPAM_TAB_FIELD_RECAPTCHA_PUBLIC_KEY_LABEL" description="COM_UDJACOMMENTS_CONFIG_SPAM_TAB_FIELD_RECAPTCHA_PUBLIC_KEY_DESC" default="" />
        <field name="recaptcha_private_key" type="text" filter="string" label="COM_UDJACOMMENTS_CONFIG_SPAM_TAB_FIELD_RECAPTCHA_PRIVATE_KEY_LABEL" description="COM_UDJACOMMENTS_CONFIG_SPAM_TAB_FIELD_RECAPTCHA_PRIVATE_KEY_DESC" default="" />
    </fieldset>
    <fieldset name="rules" label="COM_UDJACOMMENTS_CONFIG_RULES_TAB_TITLE" description="COM_UDJACOMMENTS_CONFIG_RULES_TAB_DESC">
        <field name="url_list" type="textarea" filter="string" label="COM_UDJACOMMENTS_CONFIG_RULES_TAB_FIELD_BANNEDURLS_LABEL" description="COM_UDJACOMMENTS_CONFIG_RULES_TAB_FIELD_BANNEDURLS_DESC" default="" />
        <field name="email_list" type="textarea" filter="string" label="COM_UDJACOMMENTS_CONFIG_RULES_TAB_FIELD_BANNEDEMAILS_LABEL" description="COM_UDJACOMMENTS_CONFIG_RULES_TAB_FIELD_BANNEDEMAILS_DESC" default="" />
        <field name="ip_list" type="textarea" filter="string" label="COM_UDJACOMMENTS_CONFIG_RULES_TAB_FIELD_BANNEDIPS_LABEL" description="COM_UDJACOMMENTS_CONFIG_RULES_TAB_FIELD_BANNEDIPS_DESC" default="" />
    </fieldset>
</config>