/*Layout and presentation*/
body
{
	background: #C5CCD3 url('../images/theme2/bg.png') 0 20px;
}
/*Logo*/
#logo
{
	background: url('../images/theme2/logo.png') no-repeat 0 0;
}
/*Font family colors */
div.content, h1, div.rectangle h2, div.cell,div#content div.moduletable
{	
	color: #000;
}
/*Menus*/
div.moduletable-light
{
	background: url('../images/theme2/nav-light.png') repeat-x 0 0;
	border: 1px solid #222;
}
div.moduletable-light ul
{
	border-left:1px solid #B4B4B4;
}
div.moduletable-light li a
{
	color: #777;
	border-right:1px solid #B4B4B4;
text-shadow: #fff 0px 1px 1px;
}
div.moduletable-light li a.active,div.moduletable-light li#current a,
div.moduletable-light li a:hover,div.moduletable-light li a:active
{
	background: url('../images/theme2/nav-light-on.png') repeat-x 0 0;
	color: #FFF;
text-shadow: #333 0px -1px 1px;
}
div.moduletable-dark
{
	background: url('../images/theme2/nav-dark.png') repeat-x 0 0;
	border: 1px solid #5F5F5F;
}
div.moduletable-dark ul
{
	border-left:1px solid #6F8196;
}
div.moduletable-dark li a
{
	color: #FFF;
	border-right:1px solid #6F8196;
text-shadow: #333 0px -1px 1px;
}
div.moduletable-dark li a.active,div.moduletable-dark li#current a,
div.moduletable-dark li a:hover,div.moduletable-dark li a:active
{
	background: url('../images/theme2/nav-dark-on.png') repeat-x 0 -2px;
}
/*HTML elements*/
img
{
	border:1px solid #CCC;
}
div#title
{
	background: url('../images/theme2/title.png') repeat-x 0 0;
}
div#title h1
{
	color: #FFF;
}
a#back
{
	background: url('../images/theme2/back.png') no-repeat 0 0;
	color: #FFF;
	text-shadow: #000 0px 0px 1px;
}
div.search
{
	background: url('../images/theme2/search.png') repeat-x 0 0;
}
input#mod_search_searchword
{
	border-color: #94A1AD;
	background:#FFF url('../images/theme2/search-icon.png') no-repeat 5px 6px;
}
div.rectangle,div#content div.moduletable
{
	background-color: #fff;
	border: 1px solid #A9ABAE;
}
h1,a,#copy,.componentheading
{
	color: rgb( 76, 86, 108 );
}
hr
{
	background-color: rgb( 197, 204, 211 );
}
/*iPhone Cell element*/
div.moduletable-list
{
	background-color:#FFF;
	border:1px solid #A9ABAE;
}
div.cell,div.moduletable-list li:first-of-type a
{
	border-top:0;
}
div.cell,div.moduletable-list li a
{
	border-top: 1px solid #A9ABAE;
}
div.cell div.link,div.moduletable-list li a
{
	background: url( ../images/arrow.png ) no-repeat 96% 6px;
}
div.moduletable-list ul.menu-detail li a
{
	background: url( ../images/theme2/arrow-detail.png ) no-repeat 96% 50%;
}
div.cell div.link,div.moduletable-list li a:hover,
div.moduletable-list ul.menu-detail li a:hover{
	color:#FFF;
}
div.moduletable-list li:hover{
	background: -moz-linear-gradient(top, #0A70FD, #1A49EB);
	background: -webkit-gradient(linear, center bottom, center top, from(#1A49EB), to(#0A70FD));
}
div.moduletable-list li a:hover{
	background: url( ../images/arrow.png ) no-repeat 96% -18px;
}
/* Table of Contents */
.contenttoc
{
	border:1px solid #4C566C;
}
.sectiontableheader
{
	background: url('../images/theme2/sectablehead.png') repeat-x 0 0;
	color:#FFF;
}
.sectiontableheader a
{
	color:#FFF;
}
.sectiontableentry1 td,.sectiontableentry2 td,.search_result_row
{
	border-bottom: 1px solid rgb( 197, 204, 211 );
}
a.button
{
	color:#000;
}
