<div style="text-align:center; width:100%; background-color:#fff;">
	<div class="info">{readonline}This email contains graphics, so if you don't see them,view it in your browser{/readonline}</div>
	<table width="600" bgcolor="#ebebeb" cellpadding="0" cellspacing="0" style="text-align:justify; margin:auto; background-color:#ebebeb; border:1px solid #e7e7e7" align="center">
		<tr>
			<td height="38px">
				<img src="media/com_acymailing/templates/newsletter-4/top.png" alt=" - - - "/>
			</td>
		</tr>
		<tr>
			<td width="600" style="text-align:center">
				<table width="520" border="0" cellpadding="0" cellspacing="0" style="margin:auto;">
					<tr>
						<td style="padding:20px 0px; text-align:left;">
							<img src="media/com_acymailing/templates/newsletter-4/message_icon.png" alt="" style="float:left; margin:0px; margin-right:20px;"/>
							<h3>Topic of your message</h3>
							<h4>Subtitle for your message</h4>
						</td>
					</tr>
					<tr>
						<td style="background-color:#fff; border:1px solid #dbdbdb; padding:20px; width:500px; margin:auto; margin-top:15px; margin-bottom:15px;text-align:left">
							<h1>Dear {subtag:name},</h1>
							Your message here...
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td height="40px">
				<img src="media/com_acymailing/templates/newsletter-4/bottom.png" alt=" - - - " />
			</td>
		</tr>
	 </table>
	 <div class="info">Not interested any more? {unsubscribe}Unsubscribe{/unsubscribe}</div>
</div>