.buildpath
.settings/
.project
configuration.php
/.htaccess
/dumps/*
/cache/*
/administrator/cache/*
/tmp/*
/t3-assets/*
/t3assets/*
/.htaccess
/sql
/media/com_fpss/cache/*
/media/com_fpss/src/*
*.DS_Store
*errors.log
configuration.php
templates/strapped.zip