/*Layout and presentation*/
body, html
{
border: 0;
margin: 0;
padding: 0;
font-family: helvetica;
}
body
{
padding: 10px; 
}
div.content,div#content div.moduletable,.search_result_row
{
padding: 10px;
}
/*Logo*/
#logo
{
display: block;
height: 29px;
width: 168px;
float: left;
margin: 0 0 5px 5px;
}
/*Font family & sizes*/
h1, div.rectangle h2, div.cell,
div#content div.moduletable h3,
.componentheading,.contentheading
{	
font-size: 17px;
font-weight: bold;
line-height:1.2;
}
div#content div.moduletable h3
{
margin:0 0 5px 0;
}
div.rectangle p, div.rectangle a, div.rectangle li, div.content, input, textarea, select,
div#content div.moduletable p
{	
font-weight: normal;
font-size: 15px;
}
div.content{
line-height:1.4;
}
div.rectangle span,div#content div.moduletable span
{
font-weight: bold;
font-size: 15px;
}
div.rectangle span.small,.createdate{
font-size:12px;
font-weight:normal;
}
/*Menus*/
div#topmenu
{
float: right;
margin: 8px 8px 0 0;
}
div#mainmenu,div#bottommenu
{
margin: 10px 0;
}
div#bottommenu,div#copy
{
font-size: 12px;
}
div#copy
{
text-align: center;
}
div#copy img{
width:100%;
}
div#topmenu ul,div#topmenu li,div#mainmenu ul,div#mainmenu li,div#bottommenu ul,div#bottommenu li,
div#toolbar ul,div#toolbar li,div.moduletable-light ul, div.moduletable-light li,
div.moduletable-dark ul, div.moduletable-dark li, div.moduletable-list ul, div.moduletable-list li
{
margin: 0;
padding: 0;
list-style: none;
}
div#topmenu li,div#mainmenu li,div#bottommenu li,div#toolbar li,
div.moduletable-light li, div.moduletable-dark li
{
display: inline;
}
div#mainmenu li,div#bottommenu li,
div.moduletable-light li, div.moduletable-dark li
{
margin: 0 5px;
}
div.moduletable-light
{
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius:10px;
border-radius:10px;
height: 39px;
margin: 10px 0;
padding: 0 10px;
overflow: hidden;
}
div.moduletable-light ul
{
height:39px;
}
div.moduletable-dark
{
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius:10px;
border-radius:5px;
height: 39px;
margin: 10px 0;
padding: 0 5px;
overflow: hidden;
}
div.moduletable-dark ul
{
height:39px;
margin:2px 0 0 0 !important;
}
div.moduletable-light li a,div.moduletable-dark li a
{
text-decoration: none;
}
div.moduletable-light li a
{
font-size: 18px;
font-weight: bold;
display: block;
padding: 8px 12px 10px 12px;
float: left;
}
div.moduletable-dark li a
{
font-size: 12px;
font-weight: bold;
display: block;
padding: 12px 20px 13px 20px;
float: left;
}
div.moduletable-list
{
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius:5px;
}
div.moduletable-list li{
margin:0 !important;
display:block !important;
}
div.moduletable-list li a
{
display:block;
padding:10px;
text-decoration:none;
font-weight:bold;
}
div.moduletable-list li:first-of-type{
-moz-border-radius:5px 5px 0 0;
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
}
div.moduletable-list li:last-of-type{
-moz-border-radius:0 0 5px 5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;
}
/*HTML elements*/
fieldset,
.search-results{
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius:10px;
border:1px solid #CCC;
-moz-box-shadow:0px 1px 1px #FFF;
-webkit-box-shadow:0px 1px 1px #FFF;
box-shadow:0px 1px 1px #FFF;
margin:10px 0;
}
.search-results{
padding: 10px;
}
.search-results dd{
margin-left: 5px;
}
.search-results dd.result-created{
border-bottom: 1px solid #CCC;
margin-bottom: 10px;
}
img
{
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius:10px;
}
a img
{
border:0;
}
div#title
{
height: 44px;
text-align: center;
margin: -10px -10px 10px -10px;
}
div#title h1
{
font-size: 20px;
padding: 10px 0 0 0;
position: relative;
left: -10px;
text-shadow: 0px 0px 2px #000;
z-index:100;
}
a#back
{
margin: 5px 5px 0 5px;
font-size: 12px;
float: left;
display: block;
height: 30px;
line-height: 30px;
padding: 0 10px;
text-decoration: none;
font-weight: bold;
position:relative;
z-index:200;
}
.moduletable div.search
{
height: 44px;
margin: -10px -10px 10px -10px;
text-align:center;
}
.moduletable div.search label{
display:none;
}
input#mod-search-searchword
{
width: 86%;
margin: 8px auto;
padding:5px 0 5px 25px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius:10px;
-moz-box-shadow: 0px 1px 1px #FFF;
-webkit-box-shadow: 0px 1px 1px #FFF;
box-shadow: 0px 1px 1px #FFF;
}
.moduletable div.search input.button
{
margin: 8px 8px 0 0;
}
#content #searchForm input,#content #searchForm label{
float:left;
}
#content #searchForm input,.searchintro{
clear:left;
}
#content #searchForm #search_searchword{
width:200px;
position:absolute;
left:20px;
margin-bottom:10px;
}
#content #searchForm .button{
position:relative;
left:205px;
top:34px;
margin:0 0 40px 0;
}
#content #searchForm td[nowrap *="nowrap"] label{
display:none;
}
#content #searchForm div,.com_search .contentpaneopen{
clear:left;
}
#content #searchForm div[align *="center"] div{
float:left !important;
}
.highlight {
background-color:#FEFFBF;
padding:2px 4px;
}
div.rectangle,div#content div.moduletable
{
overflow: hidden;	/* Prevents long unbroken text strings from */
					/* pushing the viewport off-screen			*/
margin-bottom: 7px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius:5px;
}
h1, div.rectangle h2, div.rectangle span, div.rectangle p, div.rectangle a, div.rectangle li,
.contentheading,.componentheading,h1,div#content div.moduletable h2,div#content div.moduletable span,div#content div.moduletable p,div#content div.moduletable a,div#content div.moduletable li
{
padding: 0;
margin: 0;
}
h1
{
font-weight: bold;
}
div.rectangle p,div#content div.moduletable p
{
margin:5px 0 8px 0;
}
div.rectangle h2,div#content div.moduletable h2
{
font-weight: bold;
}
div.rectangle a
{

}
hr
{
border: 0;
height: 1px;
clear: both;
}
.clr
{
clear: both;
}
/*Field elements*/
input, textarea, select
{

}
input.radio, input.checkbox, input.button, input.submit
{

}
input.button, input.submit
{

}
input.submit
{

}
div.registration_form input.inputbox
{
width:90%;
}
/*iPhone Cell element*/
div.cell
{
overflow: hidden;
padding: 10px;
position: relative;
}
div.cell div.link
{
	position: absolute;
	right: 10px;
	top: 10px;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: 0 0;
}
/* Table of Contents */
.contenttoc,
#article-index
{
float:right;
margin:0 0 15px 15px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius:5px;
padding:5px;
}
.sectiontableheader{
line-height:1;
}
.sectiontableheader,.sectiontableentry0 td,.sectiontableentry1 td,.sectiontableentry2 td
{
padding:4px 8px;
}
div.rectangle .sectiontableheader a 
{
text-decoration:none;
font-weight:bold;
}
.showPagination,.showPaginationResults
{
text-align:center;
}
.buttonheading
{
text-align:right;
}
a.button
{
-webkit-appearance:push-button;
text-decoration:none;
}
/* Buttons for all themes */
a.buttonGray,a.buttonBlue,a.buttonGreen,a.buttonWhite,a.readon{
font-size:20px;
font-weight:bold;
margin:10px 0;
display:block;
line-height:45px;
text-align:center;
text-decoration:none;
color:#FFF;
text-shadow: #000 0px 1px 1px;
border-width: 0 15px 0 15px;
}
a.buttonGray{
-webkit-border-image: url('../images/button-gray.png') 0 15 0 15;
-moz-border-image: url('../images/button-gray.png') 0 15 0 15;
border-image: url('../images/button-gray.png') 0 15 0 15;
}
a.buttonGreen{
-webkit-border-image: url('../images/button-green.png') 0 15 0 15;
-moz-border-image: url('../images/button-green.png') 0 15 0 15;
border-image: url('../images/button-green.png') 0 15 0 15;
}
a.buttonBlue{
-webkit-border-image: url('../images/button-blue.png') 0 15 0 15;
-moz-border-image: url('../images/button-blue.png') 0 15 0 15;
border-image: url('../images/button-blue.png') 0 15 0 15;
}
a.buttonWhite,a.readon,
a.buttonGray:hover,a.buttonGray:active,a.buttonGray:focus{
color:#000;
text-shadow: #FFF 0px 1px 1px;
-webkit-border-image: url('../images/button-white.png') 0 15 0 15;
-moz-border-image: url('../images/button-white.png') 0 15 0 15;
border-image: url('../images/button-white.png') 0 15 0 15;
}
a.buttonGreen:hover,a.buttonGreen:active,a.buttonGreen:focus,
a.buttonWhite:hover,a.buttonWhite:active,a.buttonWhite:focus,
a.buttonBlue:hover,a.buttonBlue:active,a.buttonBlue:focus,
a.readon:hover,a.readon:active{
-webkit-border-image: url('../images/button-gray.png') 0 15 0 15;
-moz-border-image: url('../images/button-gray.png') 0 15 0 15;
border-image: url('../images/button-gray.png') 0 15 0 15;
color:#FFF;
text-shadow: #000 0px 1px 1px;
}
/* Newsflash */
.horizNewsflash 
{
padding:0 0 0 2px;
float:left;
}
/* Cpanel */
#phonepanel
{
margin:0 -10px;
}
#phonepanel ul,.phonepanel li,
#hometools ul,.hometools li
{
margin:0;
padding:0;
list-style:none;
}
#phonepanel li a,
#hometools li a
{
display:block;
float:left;
width:57px;
height:70px;
overflow:hidden;
text-decoration:none;
margin:5px 10px 8px 12px;
color:#BBB;
font-weight:bold;
position:relative;
}
#phonepanel li a img,
#hometools li a img
{
width:57px;
height:57px;
float:left;
}
#phonepanel li a span,
#hometools li a span
{
font-size:11px;
text-align:center;
background:url('../images/shine.png') no-repeat 50% 0;
line-height:130px;
width:57px;
position:absolute;
top:0;
left:0;
}
#hometools li a
{
color:#FFF;
height:90px;
margin:0 11px 8px 11px;
text-shadow: #000 0px -1px 1px;
}
#hometools li a span
{
line-height:140px;
}
#hometools
{
height:80px;
width:100%;
padding:10px 0 0 0;
margin:10px 0 0 -10px;
background:url('../images/dock.png') no-repeat 50% 100%;
overflow:hidden;
position:absolute;
bottom:0;
clear:both;
}

#hometools img{
overflow:hidden;
-webkit-transition: 0.15s linear; -webkit-transition-property: -webkit-transform margin; 
margin: 0;
-webkit-box-reflect: below 1px
			-webkit-gradient(linear, left top, left bottom, from(transparent),
			color-stop(0.45, transparent), to(rgba(255, 255, 255, 0.25)));
}
/* Toolbar */
div#toolbar
{
background:#000 url('../images/toolbar.png') repeat-x 0 0;
height: 70px;
margin: 10px -10px -10px -10px;
overflow:hidden;
padding:10px 0;
clear:both;
}
/*
div#toolbar li a
{
color: #FFF;
display: block;
float: left;
font-weight: bold;
text-decoration: none;
line-height:34px;
margin: 5px 5px 0 5px;
text-shadow: #000 0px 1px 1px;
border-width: 0 9px 0 9px;
-webkit-border-image: url('../images/label-gray.png') 0 9 0 9;
font-size:12px;
}
*/
#toolbar li a
{
display:block;
float:left;
width:57px;
overflow:hidden;
text-decoration:none;
font-weight:bold;
position:relative;
color:#FFF;
height:90px;
margin:0 11px 8px 11px;
text-shadow: #000 0px -1px 1px;
}
#toolbar li a img
{
width:57px;
height:57px;
float:left;
}
#toolbar li a span
{
font-size:11px;
text-align:center;
width:57px;
position:absolute;
top:0;
left:0;
line-height:135px;
background:url('../images/shine-toolbar.png') no-repeat 50% 0;
}
.contentpane td[align *="right"],
.contentpane td[align *="center"],
.contentpane th[width *="5%"]{
display:none;
}
ul.pagination{
margin:20px 0;
padding:0;
}
.pagination li{
list-style:none;
display:inline;
}
.pagination li span{
background:#EEE;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius:10px;
border:1px solid #CCC;
-moz-box-shadow:0px 1px 1px #FFF;
-webkit-box-shadow:0px 1px 1px #FFF;
box-shadow:0px 1px 1px #FFF;
padding:4px 8px;
}
.pagination li a{
text-decoration:none;
}
#default{
text-align:center;
margin:5px 0;
}
.active-browser{
font-style:italic;
}
.contentpaneopen img{
padding:5px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius:10px;
border:1px solid #CCC;
-moz-box-shadow:1px 1px 2px #666;
-webkit-box-shadow:1px 1px 2px #666;
box-shadow:1px 1px 2px #666;
}
.contentpaneopen img.nostyle,
.contentpaneopen .buttonheading img{
border:0;
padding:0;
-moz-border-radius:0;
-webkit-border-radius:0;
border-radius:0;
-moz-box-shadow:none;
-webkit-box-shadow:none;
box-shadow:none;
}
/* Title Menu */
#title-menu{
float:right;
margin:5px 5px 0 0;
width:30px;
height:30px;
position:relative;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
z-index:300;
}
#title-menu ul.parent{
margin:0;
list-style:none;
}
#title-menu ul.parent a.parent-link{
background:url(../images/arrow-down.png) no-repeat 50% -80px;
height:30px;
width:30px;
text-indent:-9999px;
display:block;
position:absolute;
left:0;
}
#title-menu li ul{
margin:0;
visibility:hidden;
list-style:none;
border:3px solid #FFF;
-moz-box-shadow:0px 1px 3px #555;
-webkit-box-shadow:0px 1px 3px #555;
box-shadow:0px 1px 3px #555;
background:#444;
filter:alpha(opacity=80);
-moz-opacity:0.8;
-khtml-opacity: 0.8;
opacity: 0.8;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
padding:10px;
position:absolute;
right:0;
top:100%;
}
#title-menu li:hover ul{
visibility:visible;
}
#title-menu li ul a{
text-decoration:none;
color:#FFF;
text-shadow:1px 1px 1px #000;
font-weight:bold;
border-bottom:1px solid #666;
display:block;
padding:4px 10px;
white-space:nowrap;
}
#title-menu img{
display:none;
}
/* Theme1 */
/*Layout and presentation*/
/*Logo*/
#logo
{
background: url('../images/logo.png') no-repeat 0 0;
}
/*Font family colors */
div.content, h1, div.rectangle h2, div.cell,div#content div.moduletable
{	
color: #000;
}
/*Menus*/
div.moduletable-light
{
background: -moz-linear-gradient(top, #FCFCFC, #CBCBCB);
background: -webkit-gradient(linear, center bottom, center top, from(#CBCBCB), to(#FCFCFC));
border: 1px solid #222;
}
div.moduletable-light ul
{
border-left:1px solid #B4B4B4;
}
div.moduletable-light li a
{
color: #777;
border-right:1px solid #B4B4B4;
text-shadow: #fff 0px 1px 1px;
}
div.moduletable-light li a.active,div.moduletable-light li#current a,
div.moduletable-light li a:hover,div.moduletable-light li a:active
{
background: -moz-linear-gradient(top, #3265C2, #6AA0F4);
background: -webkit-gradient(linear, center bottom, center top, from(#6AA0F4), to(#3265C2));
color: #FFF;
text-shadow: #333 0px -1px 1px;
}
div.moduletable-dark
{
background: url('../images/theme2/nav-dark.png') repeat-x 0 0;
border: 1px solid #5F5F5F;
}
.theme1 div.moduletable-dark
{
background: url('../images/theme1/nav-dark.png') repeat-x 0 0;
border: 1px solid #5F5F5F;
}
div.moduletable-dark ul
{
border-left:1px solid #6F8196;
}
div.moduletable-dark li a
{
color: #FFF;
border-right:1px solid #6F8196;
text-shadow: #333 0px -1px 1px;
}
div.moduletable-dark li a.active,div.moduletable-dark li#current a,
div.moduletable-dark li a:hover,div.moduletable-dark li a:active
{
background: url('../images/theme2/nav-dark-on.png') repeat-x 0 -2px;
}
.theme1 div.moduletable-dark li a.active,.theme1 div.moduletable-dark li#current a,
.theme1 div.moduletable-dark li a:hover,.theme1 div.moduletable-dark li a:active
{
background: url('../images/theme1/nav-dark-on.png') repeat-x 0 -2px;
}
/*HTML elements*/
img
{
border:1px solid #CCC;
}
div#title h1
{
color: #FFF;
}
a#back
{
color: #FFF;
text-shadow: #000 0px 0px 1px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
}
.moduletable div.search
{
background: url('../images/theme1/search.png') repeat-x 0 0;
}
input#mod-search-searchword
{
border-color: #94A1AD;
background:#FFF url('../images/theme1/search-icon.png') no-repeat 5px 6px;
}
div.rectangle,div#content div.moduletable
{
background-color: #fff;
border: 1px solid #A9ABAE;
}
h1,a,#copy,.componentheading
{
color: rgb( 76, 86, 108 );
}
hr
{
background-color: rgb( 197, 204, 211 );
}
/*iPhone Cell element*/
div.moduletable-list
{
background-color:#FFF;
border:1px solid #A9ABAE;
}
div.cell,div.moduletable-list li:first-of-type a
{
border-top:0;
}
div.cell,div.moduletable-list li a
{
border-top: 1px solid #A9ABAE;
}
div.cell div.link,div.moduletable-list li a
{
background: url( ../images/arrow.png ) no-repeat 96% 6px;
}
div.moduletable-list ul.menu-detail li a
{
background: url( ../images/theme1/arrow-detail.png ) no-repeat 96% 50%;
}
div.cell div.link,div.moduletable-list li a:hover,
div.moduletable-list ul.menu-detail li a:hover{
color:#FFF;
}
div.moduletable-list li:hover{
background: -moz-linear-gradient(top, #0A70FD, #1A49EB);
background: -webkit-gradient(linear, center bottom, center top, from(#1A49EB), to(#0A70FD));
}
div.moduletable-list li a:hover{
background: url( ../images/arrow.png ) no-repeat 96% -18px;
}
/* Table of Contents */
.contenttoc,
#article-index
{
border:1px solid #4C566C;
}
.sectiontableheader
{
background: url('../images/theme1/sectablehead.png') repeat-x 0 0;
color:#FFF;
}
.sectiontableheader a
{
color:#FFF;
}
.sectiontableentry1 td,.sectiontableentry2 td,.search_result_row
{
border-bottom: 1px solid rgb( 197, 204, 211 );
}
a.button
{
color:#000;
}
/* Themes */
#title{
border-top:1px solid #BAC5D3;
border-bottom:1px solid #3D4A5A;
background: -moz-linear-gradient(top, #7F97B8, #496B9B);
background: -webkit-gradient(linear, center bottom, center top, from(#496B9B), to(#7F97B8));
}
#title-menu,#back{
background: -moz-linear-gradient(top, #7F97B8, #496B9B);
background: -webkit-gradient(linear, center bottom, center top, from(#496B9B), to(#7F97B8));
border:1px solid #333;
-moz-box-shadow:0px 1px 1px #AAA;
-webkit-box-shadow:0px 1px 1px #AAA;
box-shadow:0px 1px 1px #AAA;
}
#title-menu:active,#back:active{
background: -moz-linear-gradient(top, #496B9B, #29415F);
background: -webkit-gradient(linear, center bottom, center top, from(#29415F), to(#496B9B));
}
/* Theme1 */
body.theme1{
background: #C5CCD3 url('../images/theme1/bg.png') 0 0;
}
.theme1 #title-menu,.theme1 #back{
-moz-box-shadow:0px 1px 1px #BAC5D3;
-webkit-box-shadow:0px 1px 1px #BAC5D3;
box-shadow:0px 1px 1px #BAC5D3;
}
/* Theme2 (Notepad) */
body.theme2{
background: -moz-linear-gradient(top, #FFFDDF, #F5F3CC);
background: -webkit-gradient(linear, center bottom, center top, from(#F5F3CC), to(#FFFDDF));
}
.theme2 #title,.theme2 #title-menu,.theme2 #back{
background: -moz-linear-gradient(top, #7C5333, #3E2916);
background: -webkit-gradient(linear, center bottom, center top, from(#3E2916), to(#B2B6BC));
}
.theme2 #title{
border-top:1px solid #9F734F;
border-bottom:1px solid #3F2510;
}
.theme2 #title-menu:active,.theme2 #back:active{
background: -moz-linear-gradient(top, #3E2916, #7C5333);
background: -webkit-gradient(linear, center bottom, center top, from(#7C5333), to(#3E2916));
}
.theme2 .moduletable div.search{
background: -moz-linear-gradient(top, #967156, #685547);
background: -webkit-gradient(linear, center bottom, center top, from(#685547), to(#967156));
}
.theme2 div.moduletable-list{
background: -moz-linear-gradient(top, #FFFDDF, #F5F3CC);
background: -webkit-gradient(linear, center bottom, center top, from(#F5F3CC), to(#FFFDDF));
border:1px solid #DFD299;
}
.theme2 div.moduletable-list li:first-of-type a{
border-top:0;
}
.theme2 div.moduletable-list li a{
border-top: 1px solid #DFD299;
}
/* Theme3 (Book) */
body.theme3{
background: -moz-linear-gradient(top, #EFC56E, #5D2708);
background: -webkit-gradient(linear, center bottom, center top, from(#5D2708), to(#EFC56E));
}
.theme3 #title{
border-top:1px solid #999;
border-bottom:1px solid #333;
}
.theme3 #title-menu,.theme3 #back,.theme3 input#mod-search-searchword{
-moz-box-shadow:0px 1px 1px #333;
-webkit-box-shadow:0px 1px 1px #333;
box-shadow:0px 1px 1px #333;
}
.theme3 #title,.theme3 #title-menu,.theme3 #back,.theme3 .moduletable div.search{
background: -moz-linear-gradient(top, #3F3F3F, #010101);
background: -webkit-gradient(linear, center bottom, center top, from(#010101), to(#3F3F3F));
}
.theme3 #title-menu:active,.theme3 #back:active{
background: -moz-linear-gradient(top, #010101, #3F3F3F);
background: -webkit-gradient(linear, center bottom, center top, from(#3F3F3F), to(#010101));
}
.theme3 div.rectangle,
.theme3 div.moduletable-list{
background: -moz-linear-gradient(0% 100% 0deg,#DBDBDB, #F2F2F2, #FCFCFC 25%);
background: -webkit-gradient(linear, 100% 0%, 0% 0%, from(#FCFCFC), to(#DBDBDB), color-stop(.9,#F2F2F2));
-moz-box-shadow: 0px 1px 5px #222;
-webkit-box-shadow: 0px 1px 5px #222;
box-shadow: 0px 1px 5px #222;
}
.theme3 div.rectangle{
-moz-border-radius:0;
-webkit-border-radius:0;
border-radius:0;
}
/* Theme4 (Chalkboard) */
body.theme4{
background: -moz-linear-gradient(top, #4B5561, #242B35);
background: -webkit-gradient(linear, center bottom, center top, from(#242B35), to(#4B5561));
}
.theme4 #logo{
background: url('../images/logo-light.png') no-repeat 0 0;
}
.theme4 #title{
border-top:1px solid #FFEFCF;
border-bottom:1px solid #7F6127;
}
.theme4 #title-menu,.theme4 #back,.theme4 input#mod-search-searchword{
-moz-box-shadow:0px 1px 1px #EFD3B3;
-webkit-box-shadow:0px 1px 1px #EFD3B3;
box-shadow:0px 1px 1px #EFD3B3;
}
.theme4 #title,.theme4 #title-menu,.theme4 #back,.theme4 .moduletable div.search{
background: -moz-linear-gradient(top, #DFC28A, #C99355);
background: -webkit-gradient(linear, center bottom, center top, from(#C99355), to(#DFC28A));
}
.theme4 #title-menu,.theme4 #back{
border:1px solid #7F6127;
}
.theme4 #title-menu:active,.theme4 #back:active{
background: -moz-linear-gradient(top, #C99355, #DFC28A);
background: -webkit-gradient(linear, center bottom, center top, from(#DFC28A), to(#C99355));
}
.theme4 div.moduletable-list{
background: -moz-linear-gradient(top, #4B5561, #242B35);
background: -webkit-gradient(linear, center bottom, center top, from(#242B35), to(#4B5561));
-moz-box-shadow:inset 0px 0px 5px 1px #333;
-webkit-box-shadow:inset 0px 0px 5px 1px #333;
border:1px solid #111;
}
.theme4 div.moduletable-list li:first-of-type a{
border-top:0;
}
.theme4 div.moduletable-list li a{
border-top: 1px solid #111;
color:#FFF;
padding:8px 10px;
}
/* Theme5 (Dark App) */
body.theme5{
background: -moz-linear-gradient(top, #53595F, #383E46);
background: -webkit-gradient(linear, center bottom, center top, from(#383E46), to(#53595F));
}
.theme5 #logo{
background: url('../images/logo-light.png') no-repeat 0 0;
}
.theme5 #title{
border-top:1px solid #999;
border-bottom:1px solid #222;
}
.theme5 #title-menu,.theme5 #back,.theme5 input#mod-search-searchword{
-moz-box-shadow:0px 1px 1px #666;
-webkit-box-shadow:0px 1px 1px #666;
box-shadow:0px 1px 1px #666;
}
.theme5 #title,.theme5 #title-menu,.theme5 #back,.theme5 .moduletable div.search{
background: -moz-linear-gradient(top, #3B3B3B, #2F2F2F);
background: -webkit-gradient(linear, center bottom, center top, from(#2F2F2F), to(#3B3B3B));
}
.theme5 #title-menu:active,.theme5 #back:active{
background: -moz-linear-gradient(top, #2F2F2F, #3B3B3B);
background: -webkit-gradient(linear, center bottom, center top, from(#3B3B3B), to(#2F2F2F));
}
.theme5 div.moduletable-list{
background: -moz-linear-gradient(top, #6F777F, #53595F);
background: -webkit-gradient(linear, center bottom, center top, from(#53595F), to(#6F777F));
-moz-box-shadow:inset 0px 0px 5px 1px #333;
-webkit-box-shadow:inset 0px 0px 5px 1px #333;
border:1px solid #111;
}
.theme5 div.moduletable-list li:first-of-type a{
border-top:0;
}
.theme5 div.moduletable-list li a{
border-top: 1px solid #111;
color:#FFF;
padding:8px 10px;
}
/* Theme6 (Teal) */
body.theme6{
background: -moz-linear-gradient(top, #EEE, #FCFCFC);
background: -webkit-gradient(linear, center bottom, center top, from(#FCFCFC), to(#EEE));
}
.theme6 #title,.theme6 #title-menu,.theme6 #back,.theme6 .moduletable div.search{
background: -moz-linear-gradient(top, #036EB4, #002B3C);
background: -webkit-gradient(linear, center bottom, center top, from(#002B3C), to(#036EB4));
}
.theme6 #title-menu:active,.theme6 #back:active{
background: -moz-linear-gradient(top, #002B3C, #036EB4);
background: -webkit-gradient(linear, center bottom, center top, from(#036EB4), to(#002B3C));
}
.theme6 #title{
border-top:1px solid #268FCF;
border-bottom:1px solid #00314F;
}
.theme6 #title-menu,.theme6 #back{
border:1px solid #00314F;
-moz-box-shadow:0px 1px 1px #268FCF;
-webkit-box-shadow:0px 1px 1px #268FCF;
box-shadow:0px 1px 1px #268FCF;
}
/* Theme7 (Blue) */
body.theme7{
background: -moz-linear-gradient(top, #EEE, #FCFCFC);
background: -webkit-gradient(linear, center bottom, center top, from(#FCFCFC), to(#EEE));
}
.theme7 #title,.theme7 #title-menu,.theme7 #back,.theme7 .moduletable div.search{
background: -moz-linear-gradient(top, #364BAF, #2C324F);
background: -webkit-gradient(linear, center bottom, center top, from(#2C324F), to(#364BAF));
}
.theme7 #title-menu:active,.theme7 #back:active{
background: -moz-linear-gradient(top, #2C324F, #364BAF);
background: -webkit-gradient(linear, center bottom, center top, from(#364BAF), to(#2C324F));
}
.theme7 #title{
border-top:1px solid #6779CF;
border-bottom:1px solid #121F5F;
}
.theme7 #title-menu,.theme7 #back{
border:1px solid #121F5F;
-moz-box-shadow:0px 1px 1px #6779CF;
-webkit-box-shadow:0px 1px 1px #6779CF;
box-shadow:0px 1px 1px #6779CF;
}
/* Theme8 (Purple) */
body.theme8{
background: -moz-linear-gradient(top, #EEE, #FCFCFC);
background: -webkit-gradient(linear, center bottom, center top, from(#FCFCFC), to(#EEE));
}
.theme8 #title,.theme8 #title-menu,.theme8 #back,.theme8 .moduletable div.search{
background: -moz-linear-gradient(top, #7119CF, #3D1D5F);
background: -webkit-gradient(linear, center bottom, center top, from(#3D1D5F), to(#7119CF));
}
.theme8 #title-menu:active,.theme8 #back:active{
background: -moz-linear-gradient(top, #3D1D5F, #7119CF);
background: -webkit-gradient(linear, center bottom, center top, from(#7119CF), to(#3D1D5F));
}
.theme8 #title{
border-top:1px solid #A159EF;
border-bottom:1px solid #41077F;
}
.theme8 #title-menu,.theme8 #back{
border:1px solid #41077F;
-moz-box-shadow:0px 1px 1px #A159EF;
-webkit-box-shadow:0px 1px 1px #A159EF;
box-shadow:0px 1px 1px #A159EF;
}
/* Theme9 (Pink) */
body.theme9{
background: -moz-linear-gradient(top, #EEE, #FCFCFC);
background: -webkit-gradient(linear, center bottom, center top, from(#FCFCFC), to(#EEE));
}
.theme9 #title,.theme9 #title-menu,.theme9 #back,.theme9 .moduletable div.search{
background: -moz-linear-gradient(top, #CF33BD, #7F2F76);
background: -webkit-gradient(linear, center bottom, center top, from(#7F2F76), to(#CF33BD));
}
.theme9 #title-menu:active,.theme9 #back:active{
background: -moz-linear-gradient(top, #7F2F76, #CF33BD);
background: -webkit-gradient(linear, center bottom, center top, from(#CF33BD), to(#7F2F76));
}
.theme9 #title{
border-top:1px solid #EF68E3;
border-bottom:1px solid #7F0F75;
}
.theme9 #title-menu,.theme9 #back{
border:1px solid #7F0F75;
-moz-box-shadow:0px 1px 1px #EF68E3;
-webkit-box-shadow:0px 1px 1px #EF68E3;
box-shadow:0px 1px 1px #EF68E3;
}
/* Theme10 (Red) */
body.theme10{
background: -moz-linear-gradient(top, #EEE, #FCFCFC);
background: -webkit-gradient(linear, center bottom, center top, from(#FCFCFC), to(#EEE));
}
.theme10 #title,.theme10 #title-menu,.theme10 #back,.theme10 .moduletable div.search{
background: -moz-linear-gradient(top, #B92A00, #711200);
background: -webkit-gradient(linear, center bottom, center top, from(#711200), to(#B92A00));
}
.theme10 #title-menu:active,.theme10 #back:active{
background: -moz-linear-gradient(top, #711200, #B92A00);
background: -webkit-gradient(linear, center bottom, center top, from(#B92A00), to(#711200));
}
.theme10 #title{
border-top:1px solid #DF5429;
border-bottom:1px solid #5F1600;
}
.theme10 #title-menu,.theme10 #back{
border:1px solid #5F1600;
-moz-box-shadow:0px 1px 1px #DF5429;
-webkit-box-shadow:0px 1px 1px #DF5429;
box-shadow:0px 1px 1px #DF5429;
}
/* Theme11 (Maroon) */
body.theme11{
background: -moz-linear-gradient(top, #EEE, #FCFCFC);
background: -webkit-gradient(linear, center bottom, center top, from(#FCFCFC), to(#EEE));
}
.theme11 #title,.theme11 #title-menu,.theme11 #back,.theme11 .moduletable div.search{
background: -moz-linear-gradient(top, #7F072E, #3F101F);
background: -webkit-gradient(linear, center bottom, center top, from(#3F101F), to(#7F072E));
}
.theme11 #title-menu:active,.theme11 #back:active{
background: -moz-linear-gradient(top, #3F101F, #7F072E);
background: -webkit-gradient(linear, center bottom, center top, from(#7F072E), to(#3F101F));
}
.theme11 #title{
border-top:1px solid #AF3660;
border-bottom:1px solid #3F0016;
}
.theme11 #title-menu,.theme11 #back{
border:1px solid #3F0016;
-moz-box-shadow:0px 1px 1px #AF3660;
-webkit-box-shadow:0px 1px 1px #AF3660;
box-shadow:0px 1px 1px #AF3660;
}
/* Theme12 (Orange) */
body.theme12{
background: -moz-linear-gradient(top, #EEE, #FCFCFC);
background: -webkit-gradient(linear, center bottom, center top, from(#FCFCFC), to(#EEE));
}
.theme12 #title,.theme12 #title-menu,.theme12 #back,.theme12 .moduletable div.search{
background: -moz-linear-gradient(top, #DF8D00, #9F5600);
background: -webkit-gradient(linear, center bottom, center top, from(#9F5600), to(#DF8D00));
}
.theme12 #title-menu:active,.theme12 #back:active{
background: -moz-linear-gradient(top, #9F5600, #DF8D00);
background: -webkit-gradient(linear, center bottom, center top, from(#DF8D00), to(#9F5600));
}
.theme12 #title{
border-top:1px solid #FFB32F;
border-bottom:1px solid #8F5B00;
}
.theme12 #title-menu,.theme12 #back{
border:1px solid #8F5B00;
-moz-box-shadow:0px 1px 1px #FFB32F;
-webkit-box-shadow:0px 1px 1px #FFB32F;
box-shadow:0px 1px 1px #FFB32F;
}
/* Theme13 (Yellow) */
body.theme13{
background: -moz-linear-gradient(top, #EEE, #FCFCFC);
background: -webkit-gradient(linear, center bottom, center top, from(#FCFCFC), to(#EEE));
}
.theme13 #title,.theme13 #title-menu,.theme13 #back,.theme13 .moduletable div.search{
background: -moz-linear-gradient(top, #EFDB00, #AFA000);
background: -webkit-gradient(linear, center bottom, center top, from(#AFA000), to(#EFDB00));
}
.theme13 #title h1{
color:#444;
text-shadow:0px 1px 1px #FFF36F;
}
.theme13 #title-menu:active,.theme13 #back:active{
background: -moz-linear-gradient(top, #AFA000, #EFDB00);
background: -webkit-gradient(linear, center bottom, center top, from(#EFDB00), to(#AFA000));
}
.theme13 #title{
border-top:1px solid #FFF36F;
border-bottom:1px solid #AFA000;
}
.theme13 #title-menu,.theme13 #back{
border:1px solid #AFA000;
-moz-box-shadow:0px 1px 1px #FFF36F;
-webkit-box-shadow:0px 1px 1px #FFF36F;
box-shadow:0px 1px 1px #FFF36F;
}
/* Theme14 (Olive) */
body.theme14{
background: -moz-linear-gradient(top, #EEE, #FCFCFC);
background: -webkit-gradient(linear, center bottom, center top, from(#FCFCFC), to(#EEE));
}
.theme14 #title,.theme14 #title-menu,.theme14 #back,.theme14 .moduletable div.search{
background: -moz-linear-gradient(top, #A2CF33, #596F22);
background: -webkit-gradient(linear, center bottom, center top, from(#596F22), to(#A2CF33));
}
.theme14 #title-menu:active,.theme14 #back:active{
background: -moz-linear-gradient(top, #596F22, #A2CF33);
background: -webkit-gradient(linear, center bottom, center top, from(#A2CF33), to(#596F22));
}
.theme14 #title{
border-top:1px solid #C8EF68;
border-bottom:1px solid #749F09;
}
.theme14 #title-menu,.theme14 #back{
border:1px solid #749F09;
-moz-box-shadow:0px 1px 1px #C8EF68;
-webkit-box-shadow:0px 1px 1px #C8EF68;
box-shadow:0px 1px 1px #C8EF68;
}
/* Theme15 (Green) */
body.theme15{
background: -moz-linear-gradient(top, #EEE, #FCFCFC);
background: -webkit-gradient(linear, center bottom, center top, from(#FCFCFC), to(#EEE));
}
.theme15 #title,.theme15 #title-menu,.theme15 #back,.theme15 .moduletable div.search{
background: -moz-linear-gradient(top, #57AF15, #436F22);
background: -webkit-gradient(linear, center bottom, center top, from(#436F22), to(#57AF15));
}
.theme15 #title-menu:active,.theme15 #back:active{
background: -moz-linear-gradient(top, #436F22, #57AF15);
background: -webkit-gradient(linear, center bottom, center top, from(#57AF15), to(#436F22));
}
.theme15 #title{
border-top:1px solid #7DCF40;
border-bottom:1px solid #2F6F00;
}
.theme15 #title-menu,.theme15 #back{
border:1px solid #2F6F00;
-moz-box-shadow:0px 1px 1px #7DCF40;
-webkit-box-shadow:0px 1px 1px #7DCF40;
box-shadow:0px 1px 1px #7DCF40;
}
/* Theme16 (Brown) */
body.theme16{
background: -moz-linear-gradient(top, #EEE, #FCFCFC);
background: -webkit-gradient(linear, center bottom, center top, from(#FCFCFC), to(#EEE));
}
.theme16 #title,.theme16 #title-menu,.theme16 #back,.theme16 .moduletable div.search{
background: -moz-linear-gradient(top, #885600, #3F2E10);
background: -webkit-gradient(linear, center bottom, center top, from(#3F2E10), to(#885600));
}
.theme16 #title-menu:active,.theme16 #back:active{
background: -moz-linear-gradient(top, #3F2E10, #885600);
background: -webkit-gradient(linear, center bottom, center top, from(#885600), to(#3F2E10));
}
.theme16 #title{
border-top:1px solid #AF7F2B;
border-bottom:1px solid #4F3200;
}
.theme16 #title-menu,.theme16 #back{
border:1px solid #4F3200;
-moz-box-shadow:0px 1px 1px #AF7F2B;
-webkit-box-shadow:0px 1px 1px #AF7F2B;
box-shadow:0px 1px 1px #AF7F2B;
}
/* Theme17 (Black) */
body.theme17{
background: -moz-linear-gradient(top, #EEE, #FCFCFC);
background: -webkit-gradient(linear, center bottom, center top, from(#FCFCFC), to(#EEE));
}
.theme17 #title,.theme17 #title-menu,.theme17 #back,.theme17 .moduletable div.search{
background: -moz-linear-gradient(top, #747474, #000);
background: -webkit-gradient(linear, center bottom, center top, from(#000), to(#747474));
}
.theme17 #title-menu:active,.theme17 #back:active{
background: -moz-linear-gradient(top, #000, #747474);
background: -webkit-gradient(linear, center bottom, center top, from(#747474), to(#000));
}
.theme17 #title{
border-top:1px solid #9F9F9F;
border-bottom:1px solid #2F2F2F;
}
.theme17 #title-menu,.theme17 #back{
border:1px solid #2F2F2F;
-moz-box-shadow:0px 1px 1px #9F9F9F;
-webkit-box-shadow:0px 1px 1px #9F9F9F;
box-shadow:0px 1px 1px #9F9F9F;
}

/* 1.6 */
ul.actions,
.pagenav-next{
float:right;
}
ul.actions,
ul.archive-module,
ul.pagenav,
.pagination ul,
#article-index ul,
dl.article-info,
.article-info dd,
.cat-children ul{
margin:0;
padding:0;
list-style:none;
}
ul.actions li,
ul.archive-module li,
.pagination li,
ul.pagenav li{
display:inline;
}
.pagination li a{
margin:0 5px 0 0;
}
ul.pagenav{
height:24px;
margin:10px 0;
clear:both;
}
.article-info,
.article-info a,
.pagenavcounter{
font-size:12px !important;
color:#999;
}
.article-info dt{
display:none;
}