/*Layout and presentation*/
body, html{
border: 0;
margin: 0;
padding: 0;
font-family: 'Droid Sans', helvetica, arial, sans-serif;
}
body{
padding: 10px; 
}
div.content,div#content div.moduletable,.search_result_row{
padding: 10px;
}
/*Logo*/
#logo{
display: block;
height: 29px;
margin: 10px 0;
}
/*Font family & sizes*/
h1, div.rectangle h2, div.cell,
div#content div.moduletable h3,
.componentheading,.contentheading
{	
font-size: 17px;
font-weight: bold;
line-height:1.2;
}
div#content div.moduletable h3
{
margin:0 0 5px 0;
}
div.rectangle p, div.rectangle a, div.rectangle li, div.content, input, textarea, select,
div#content div.moduletable p
{	
font-weight: normal;
font-size: 15px;
}
div.content{
line-height:1.4;
}
div.rectangle span,div#content div.moduletable span
{
font-weight: bold;
font-size: 15px;
}
div.rectangle span.small,.createdate,.modifydate{
font-size:12px;
font-weight:normal;
color:#999;
}
/*Menus*/
div#topmenu
{
float: right;
margin: 8px 8px 0 0;
}
div#mainmenu,div#bottommenu
{
margin: 10px 0;
}
div#bottommenu,div#copy
{
font-size: 12px;
}
div#copy
{
text-align: center;
}
div#copy img{
width:100%;
}
div#topmenu ul,div#topmenu li,div#mainmenu ul,div#mainmenu li,div#bottommenu ul,div#bottommenu li,
div#toolbar ul,div#toolbar li,div.moduletable-light ul, div.moduletable-light li,
div.moduletable-dark ul, div.moduletable-dark li, div.moduletable-list ul, div.moduletable-list li
{
margin: 0;
padding: 0;
list-style: none;
}
div#topmenu li,div#mainmenu li,div#bottommenu li,div#toolbar li,
div.moduletable-light li, div.moduletable-dark li
{
display: inline;
}
div#mainmenu li,div#bottommenu li,
div.moduletable-light li, div.moduletable-dark li
{
margin: 0 5px;
}
div.moduletable-light
{
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius:10px;
border-radius:10px;
height: 39px;
margin: 10px 0;
padding: 0 10px;
overflow: hidden;
}
div.moduletable-light ul
{
height:39px;
}
div.moduletable-dark
{
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius:10px;
border-radius:5px;
height: 39px;
margin: 10px 0;
padding: 0 5px;
overflow: hidden;
}
div.moduletable-dark ul
{
height:39px;
margin:2px 0 0 0 !important;
}
div.moduletable-light li a,div.moduletable-dark li a
{
text-decoration: none;
}
div.moduletable-light li a
{
font-size: 18px;
font-weight: bold;
display: block;
padding: 8px 12px 10px 12px;
float: left;
}
div.moduletable-dark li a
{
font-size: 12px;
font-weight: bold;
display: block;
padding: 12px 20px 13px 20px;
float: left;
}
div.moduletable-list
{
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius:5px;
}
div.moduletable-list li{
margin:0 !important;
display:block !important;
}
div.moduletable-list li a
{
display:block;
padding:10px;
text-decoration:none;
}
div.moduletable-list li:first-of-type{
-moz-border-radius:5px 5px 0 0;
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
}
div.moduletable-list li:last-of-type{
-moz-border-radius:0 0 5px 5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;
}
.moduletable-darklist ul{
margin:10px 0 !important;
padding:0;
list-style:none;
border-top:1px solid #313131;
}
.moduletable-darklist li{
margin:0 !important;
padding:0;
display:block;
}
.moduletable-darklist a{
color:#BDBEBD;
font-size:18px;
display:block;
padding:6px 8px;
text-decoration:none;
border-bottom:1px solid #313131;
}
.moduletable-darklist a:hover{
color:#333;
background: -moz-linear-gradient(top, #F8C800, #F4A600);
background: -webkit-gradient(linear, center bottom, center top, from(#F4A600), to(#F8C800));
}
.moduletable-darklist a:active{
background: -moz-linear-gradient(top, #FFF, #FCFCFC);
background: -webkit-gradient(linear, center bottom, center top, from(#FCFCFC), to(#FFF));
}
/*HTML elements*/
fieldset{
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius:10px;
border:1px solid #CCC;
-moz-box-shadow:0px 1px 1px #FFF;
-webkit-box-shadow:0px 1px 1px #FFF;
box-shadow:0px 1px 1px #FFF;
margin:10px 0;
}
img{
border:0;
}
div#title
{
height: 24px;
text-align: left;
margin: -10px -10px 10px -10px;
}
div#title h1
{
font-size: 16px;
padding: 0;
position: relative;
margin:4px;
float:left;
text-shadow: 0px 0px 2px #000;
z-index:100;
}
a#back
{
margin: 5px 5px 0 5px;
font-size: 12px;
float: left;
display: block;
height: 30px;
line-height: 30px;
padding: 0 10px;
text-decoration: none;
font-weight: bold;
position:relative;
z-index:200;
}
input#mod-search-searchword
{
width: 86%;
margin: 8px auto;
padding:5px 0 5px 25px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius:10px;
-moz-box-shadow: 0px 1px 1px #FFF;
-webkit-box-shadow: 0px 1px 1px #FFF;
box-shadow: 0px 1px 1px #FFF;
}
.search label{
display:none;
}
div.search input.button
{
margin: 8px 8px 0 0;
}
#content #searchForm input,#content #searchForm label{
float:left;
}
#content #searchForm input,.searchintro{
clear:left;
}
#content #searchForm #search_searchword{
width:200px;
position:absolute;
left:20px;
margin-bottom:10px;
}
#content #searchForm .button{
position:relative;
left:205px;
top:34px;
margin:0 0 40px 0;
}
#content #searchForm td[nowrap *="nowrap"] label{
display:none;
}
#content #searchForm div,.com_search .contentpaneopen{
clear:left;
}
#content #searchForm div[align *="center"] div{
float:left !important;
}
.highlight {
background-color:#FEFFBF;
padding:2px 4px;
}
div.rectangle,div#content div.moduletable
{
overflow: hidden;	/* Prevents long unbroken text strings from */
					/* pushing the viewport off-screen			*/
margin-bottom: 7px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius:5px;
}

h1
{
font-weight: bold;
}
div.rectangle p,div#content div.moduletable p
{
margin:5px 0 8px 0;
}
div.rectangle h2,div#content div.moduletable h2
{
font-weight: bold;
}
div.rectangle a
{

}
hr
{
border: 0;
height: 1px;
clear: both;
}
.clr
{
clear: both;
}
/*Field elements*/
input, textarea, select
{

}
input.radio, input.checkbox, input.button, input.submit
{

}
input.button, input.submit
{

}
input.submit
{

}
div.registration_form input.inputbox
{
width:90%;
}
/*iPhone Cell element*/
div.cell
{
overflow: hidden;
padding: 10px;
position: relative;
}
div.cell div.link
{
	position: absolute;
	right: 10px;
	top: 10px;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: 0 0;
}
/* Table of Contents */
.contenttoc
{
float:right;
margin:0 0 5px 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius:5px;
padding:5px;
}
.sectiontableheader{
line-height:1;
}
.sectiontableheader,.sectiontableentry0 td,.sectiontableentry1 td,.sectiontableentry2 td
{
padding:4px 8px;
}
div.rectangle .sectiontableheader a 
{
text-decoration:none;
font-weight:bold;
}
.showPagination,.showPaginationResults
{
text-align:center;
}
.buttonheading
{
text-align:right;
}
a.button
{
-webkit-appearance:push-button;
text-decoration:none;
}
/* Buttons for all themes */
a.buttonGray,a.buttonBlue,a.buttonGreen,a.buttonWhite,a.buttonOrange,a.readon{
font-size:14px;
margin:10px 0;
line-height:40px;
padding:10px 20px;
text-align:center;
text-decoration:none;
color:#313131;
text-shadow: #FFF 0px 1px 1px;
border:1px solid #000;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
-moz-box-shadow:0px 1px 2px #333;
-webkit-box-shadow:0px 1px 2px #333;
box-shadow:0px 1px 2px #333;
}
a.buttonGray{
background: -moz-linear-gradient(top, #333, #222);
background: -webkit-gradient(linear, center bottom, center top, from(#222), to(#333));
}
a.buttonGreen{
background: -moz-linear-gradient(top, #A0D056, #7AAF29);
background: -webkit-gradient(linear, center bottom, center top, from(#7AAF29), to(#A0D056));
}
a.buttonOrange,a.readon:hover,a.readon:active{
background: -moz-linear-gradient(top, #F8C800, #F4A600);
background: -webkit-gradient(linear, center bottom, center top, from(#F4A600), to(#F8C800));
color:#333;
}
a.buttonBlue{
background: -moz-linear-gradient(top, #0099FF, #0033FF);
background: -webkit-gradient(linear, center bottom, center top, from(#0033FF), to(#0099FF));
}
a.buttonWhite,a.readon,
a.buttonGray:hover,a.buttonGray:active,a.buttonGray:focus{
background: -moz-linear-gradient(top, #EFEBEF, #BDBABD);
background: -webkit-gradient(linear, center bottom, center top, from(#BDBABD), to(#EFEBEF));
}
a.buttonOrange:hover,a.buttonOrange:active,a.buttonOrange:focus,
a.buttonGreen:hover,a.buttonGreen:active,a.buttonGreen:focus,
a.buttonWhite:hover,a.buttonWhite:active,a.buttonWhite:focus,
a.buttonBlue:hover,a.buttonBlue:active,a.buttonBlue:focus{
background: -moz-linear-gradient(top, #333, #222);
background: -webkit-gradient(linear, center bottom, center top, from(#222), to(#333));
color:#FFF;
text-shadow: #000 0px 1px 1px;
}
/* Newsflash */
.horizNewsflash 
{
padding:0 0 0 2px;
float:left;
}
/* Cpanel */
#phonepanel{
padding:0;
}
#hometools{
margin:-10px -10px 10px -10px;
height:60px;
padding:0;
}
#phonepanel ul,.phonepanel li,
#hometools ul,.hometools li{
margin:0;
padding:0;
list-style:none;
}
#phonepanel li a{
display:block;
float:left;
width:57px;
height:70px;
overflow:hidden;
text-decoration:none;
margin:5px 8px;
color:#FFF;
position:relative;
}
#hometools li a{
display:block;
float:left;
width:77px;
height:60px;
overflow:hidden;
text-decoration:none;
margin:0 1px;
color:#7B7D7B;
position:relative;
text-align:center;
}
#hometools li a img{
width:32px;
height:32px;
margin:8px 2px 0 0;
}
#phonepanel li a img{
width:48px;
height:48px;
margin:5px;
}
#hometools li a span{
font-size:11px;
text-align:center;
width:77px;
position:absolute;
left:0;
}
#phonepanel li a span{
font-size:11px;
text-align:center;
width:100%;
position:absolute;
bottom:0;
left:0;
filter:alpha(opacity=70);
-moz-opacity:0.7;
-khtml-opacity: 0.7;
opacity: 0.7;
text-shadow:0px -1px 1px #000;
background-color:#333;
-moz-border-radius:20px;
-webkit-border-radius:20px;
border-radius:20px;
}
#hometools li a
{
color:#FFF;
text-shadow: #000 0px -1px 1px;
}
#hometools li a span{
line-height:100px;
}
#hometools img{
filter:alpha(opacity=70);
-moz-opacity:0.7;
-khtml-opacity: 0.7;
opacity: 0.7;
}
#hometools .active img,
#hometools a:hover img{
filter:alpha(opacity=100);
-moz-opacity:1;
-khtml-opacity: 1;
opacity: 1;
}
/* Toolbar */
div#toolbar
{
background:#000 url('../images/toolbar.png') repeat-x 0 0;
height: 70px;
margin: 10px -10px -10px -10px;
overflow:hidden;
padding:10px 0;
clear:both;
}
/*
div#toolbar li a
{
color: #FFF;
display: block;
float: left;
font-weight: bold;
text-decoration: none;
line-height:34px;
margin: 5px 5px 0 5px;
text-shadow: #000 0px 1px 1px;
border-width: 0 9px 0 9px;
-webkit-border-image: url('../images/label-gray.png') 0 9 0 9;
font-size:12px;
}
*/
#toolbar li a
{
display:block;
float:left;
width:57px;
overflow:hidden;
text-decoration:none;
font-weight:bold;
position:relative;
color:#FFF;
height:90px;
margin:0 11px 8px 11px;
text-shadow: #000 0px -1px 1px;
}
#toolbar li a img
{
width:57px;
height:57px;
float:left;
}
#toolbar li a span
{
font-size:11px;
text-align:center;
width:57px;
position:absolute;
top:0;
left:0;
line-height:135px;
background:url('../images/shine-toolbar.png') no-repeat 50% 0;
}
.contentpane td[align *="right"],
.contentpane td[align *="center"],
.contentpane th[width *="5%"]{
display:none;
}
ul.pagination{
margin:20px 0;
padding:0;
}
.pagination li{
list-style:none;
display:inline;
}
.pagination li span{
background:#EEE;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius:10px;
border:1px solid #CCC;
-moz-box-shadow:0px 1px 1px #FFF;
-webkit-box-shadow:0px 1px 1px #FFF;
box-shadow:0px 1px 1px #FFF;
padding:4px 8px;
}
.pagination li a{
text-decoration:none;
}
#default{
text-align:center;
margin:5px 0;
}
.active-browser{
font-style:italic;
}
img.rounded{
padding:5px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius:10px;
border:1px solid #CCC;
-moz-box-shadow:1px 1px 2px #666;
-webkit-box-shadow:1px 1px 2px #666;
box-shadow:1px 1px 2px #666;
}
.contentpaneopen img.nostyle,
.contentpaneopen .buttonheading img{
border:0;
padding:0;
-moz-border-radius:0;
-webkit-border-radius:0;
border-radius:0;
-moz-box-shadow:none;
-webkit-box-shadow:none;
box-shadow:none;
}
/* Title Menu */
.dropdown-spacer{
height:38px;
}
#title-menu{
width:100%;
height:44px;
position:absolute;
top:0;
left:0;
z-index:300;
margin-bottom:10px;
}
#title-menu ul.parent{
margin:0;
padding:0;
list-style:none;
}
#title-menu ul.parent a.parent-link{
background:url(../images/dropdown-arrow.png) no-repeat 50% 1px;
height:34px;
text-indent:-9999px;
display:block;
}
#title-menu li ul{
margin:0;
list-style:none;
border:1px solid #000;
-moz-box-shadow:0px 1px 3px #555;
-webkit-box-shadow:0px 1px 3px #555;
box-shadow:0px 1px 3px #555;
background:#000;
filter:alpha(opacity=90);
-moz-opacity:0.9;
-khtml-opacity: 0.9;
opacity: 0.9;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
padding:10px;
position:absolute;
width:94%;
min-height:320px;
left:0;
top:100%;
}
#title-menu li ul a{
text-decoration:none;
color:#FFF;
text-shadow:1px 1px 1px #000;
font-weight:bold;
border-bottom:1px solid #666;
display:block;
padding:4px 10px;
white-space:nowrap;
}
#title-menu img{
display:none;
}
/* Theme1 */
/*Layout and presentation*/
/*Logo*/
#logo
{
background: url('../images/logo.png') no-repeat 50% 50%;
}
/*Font family colors */
div.content, h1, div.rectangle h2, div.cell,div#content div.moduletable
{	
color: #000;
}
/*Menus*/
div.moduletable-light
{
background: -moz-linear-gradient(top, #FCFCFC, #CBCBCB);
background: -webkit-gradient(linear, center bottom, center top, from(#CBCBCB), to(#FCFCFC));
border: 1px solid #222;
}
div.moduletable-light ul
{
border-left:1px solid #B4B4B4;
}
div.moduletable-light li a
{
color: #777;
border-right:1px solid #B4B4B4;
text-shadow: #fff 0px 1px 1px;
}
div.moduletable-light li a.active,div.moduletable-light li#current a,
div.moduletable-light li a:hover,div.moduletable-light li a:active
{
background: -moz-linear-gradient(top, #3265C2, #6AA0F4);
background: -webkit-gradient(linear, center bottom, center top, from(#6AA0F4), to(#3265C2));
color: #FFF;
text-shadow: #333 0px -1px 1px;
}
div.moduletable-dark
{
background: url('../images/theme2/nav-dark.png') repeat-x 0 0;
border: 1px solid #5F5F5F;
}
.theme1 div.moduletable-dark
{
background: url('../images/theme1/nav-dark.png') repeat-x 0 0;
border: 1px solid #5F5F5F;
}
div.moduletable-dark ul
{
border-left:1px solid #6F8196;
}
div.moduletable-dark li a
{
color: #FFF;
border-right:1px solid #6F8196;
text-shadow: #333 0px -1px 1px;
}
div.moduletable-dark li a.active,div.moduletable-dark li#current a,
div.moduletable-dark li a:hover,div.moduletable-dark li a:active
{
background: url('../images/theme2/nav-dark-on.png') repeat-x 0 -2px;
}
.theme1 div.moduletable-dark li a.active,.theme1 div.moduletable-dark li#current a,
.theme1 div.moduletable-dark li a:hover,.theme1 div.moduletable-dark li a:active
{
background: url('../images/theme1/nav-dark-on.png') repeat-x 0 -2px;
}
/*HTML elements*/
div#title h1
{
color: #FFF;
}
a#back
{
color: #FFF;
text-shadow: #000 0px 0px 1px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
}
#homesearch{
margin:10px -5px;
background: -moz-linear-gradient(top, #FFF, #DEDBDE);
background: -webkit-gradient(linear, center bottom, center top, from(#DEDBDE), to(#FFF));
min-height:58px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
-moz-box-shadow:0px 2px 10px #333;
-webkit-box-shadow:0px 2px 10px #333;
box-shadow:0px 2px 10px #333;
}
div.search{
background:url(../images/search.png) no-repeat 5px 50%;
padding:2px 2px 2px 52px;
}
input#mod-search-searchword{
border:0;
background: -moz-linear-gradient(top, #DEDFDE, #EFF3EF);
background: -webkit-gradient(linear, center bottom, center top, from(#EFF3EF), to(#DEDFDE));
padding:10px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
-moz-box-shadow:0px 2px 10px #333 inset;
-webkit-box-shadow:0px 2px 10px #333 inset;
box-shadow:0px 2px 10px #333 inset;
color:#999;
font-family:'Droid Serif', Georgia, serif;
font-size:20px;
}
.com_search fieldset{
max-width:250px;
}
div.rectangle,div#content div.moduletable
{
background-color: #fff;
border: 1px solid #A9ABAE;
}
h1,a,#copy,.componentheading
{
color:#555;
}
hr
{
background-color: rgb( 197, 204, 211 );
}
/*iPhone Cell element*/
div.moduletable-list
{
background-color:#FFF;
border:2px solid #FFF;
-moz-box-shadow:0px 2px 2px #000;
-webkit-box-shadow:0px 2px 2px #000;
box-shadow:0px 2px 2px #000;
}
div.cell,div.moduletable-list li:first-of-type a
{
border-top:0;
}
div.cell,div.moduletable-list li a
{
border-top: 1px solid #DDD;
}
div.cell div.link,div.moduletable-list li a
{
background: url( ../images/arrow.png ) no-repeat 96% -36px;
}
div.moduletable-list ul.menu-detail li a
{
background: url( ../images/theme1/arrow-detail.png ) no-repeat 96% 50%;
}
div.cell div.link,div.moduletable-list li a:hover,
div.moduletable-list ul.menu-detail li a:hover{
color:#FFF;
}
div.moduletable-list li:hover{
background: -moz-linear-gradient(top, #333, #222);
background: -webkit-gradient(linear, center bottom, center top, from(#222), to(#333));
}
div.moduletable-list li a:hover{
background: url( ../images/arrow.png ) no-repeat 96% 8px;
}
/* Table of Contents */
.contenttoc
{
border:1px solid #4C566C;
}
.sectiontableheader
{
background: url('../images/theme1/sectablehead.png') repeat-x 0 0;
color:#FFF;
}
.sectiontableheader a
{
color:#FFF;
}
.sectiontableentry1 td,.sectiontableentry2 td,.search_result_row
{
border-bottom: 1px solid rgb( 197, 204, 211 );
}
a.button
{
color:#000;
}
p.gototop{
text-align:center;
}
#gototop{
margin:10px auto;
}
#com-form-login img{
display:none;
}
/* Messages */
#hiddenDiv{position:absolute;width:100%;top:10%;z-index:1200;}
#system-message {margin:0 auto;width:70%;padding: 0;text-align:center;}
#system-message dt {font-weight: bold;}
#system-message dd {margin: 0;font-weight: bold;font-size:14px;text-indent:0 !important;}
#system-message dd ul {list-style: none;margin: 0px;padding: 5px;}
#system-message dd.message,#system-message dt.error,#system-message dt.notice {margin:5px 0;}
#system-message dt.message{font-size:14px;text-shadow:0px 1px 1px #000;margin:10px 0 0 0;}
#system-message dd.error ul {margin: 0px;list-style: none;}
#system-message dd.notice ul {margin: 0px;list-style: none;}
#system-message {
border:1px solid #FBFBFB;
background: -moz-linear-gradient(top, #404040, #404040);
background: -webkit-gradient(linear, center bottom, center top, from(#404040), to(#404040));
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
color:#FFF;
-moz-box-shadow: 0px  0px 3px #222;
-webkit-box-shadow: 0px  0px 3px #222;
box-shadow: 0px  0px 3px #222;
min-height:100px;
min-width:100px;
-khtml-opacity:.85; 
-moz-opacity:.85; 
-ms-filter:”alpha(opacity=85)”; 
filter:alpha(opacity=85); 
opacity:.85;
}
#system-message dd ul{
border-top:0 !important;
border-bottom:0 !important;
background-color:transparent !important;
color:#FFF !important;
}
/* Themes */
#title-menu,#back{
background:#111 url(../images/dropdown-bg.png) no-repeat 50% -34px;
}
#default{
color:#CCC;
}
.article_separator{
border-bottom:1px solid #CCC;
margin:10px 0;
display:block;
}
/* Theme1 */
body.homePage.theme1{
background: #3BA2F2; /* old browsers */

background: -moz-linear-gradient(top, #3BA2F2 0%, #E5F5FF 50%, #DEF2FF 52%, #2E8ABB 75%, #103263 100%); /* firefox */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3BA2F2), color-stop(50%,#E5F5FF), color-stop(52%,#DEF2FF), color-stop(75%,#2E8ABB), color-stop(100%,#103263)); /* webkit */
min-height:480px;
}
body.theme1{
background: #111;
}
#hometools{
background:#000;
border-bottom:3px solid #949694;
}
#hometools a{
background: -moz-linear-gradient(top, #313031, #100C10);
background: -webkit-gradient(linear, center bottom, center top, from(#100C10), to(#313031));
}
#hometools .active a,
#hometools a:hover,
#title{
background: -moz-linear-gradient(top, #9C9E9C, #848284);
background: -webkit-gradient(linear, center bottom, center top, from(#848284), to(#9C9E9C));
}
.theme1 #logo{
background: url('../images/logo-light.png') no-repeat 50% 50%;
}
/* Theme2 (Notepad) */
body.theme2,
body.homePage.theme2{
background:#FFFDDF url('../images/theme2/paper.jpg');
}
.theme2 #hometools .active a,.theme2 #hometools a:hover,.theme2 #title{
background: -moz-linear-gradient(top, #7C5333, #3E2916);
background: -webkit-gradient(linear, center bottom, center top, from(#3E2916), to(#7C5333));
}
.theme2 #hometools{
border-bottom:3px solid #3E2916;
}
/* Theme3 (Book) */
body.theme3,
body.homePage.theme3{
background:#EFC56E url('../images/theme3/wood.jpg');
}
.theme3 #hometools .active a,
.theme3 #hometools a:hover,
.theme3 #title{
background: -moz-linear-gradient(top, #3F3F3F, #010101);
background: -webkit-gradient(linear, center bottom, center top, from(#010101), to(#3F3F3F));
}
.theme3 #hometools{
border-bottom:3px solid #010101;
}
/* Theme4 (Chalkboard) */
body.theme4,
body.homePage.theme4{
background:#242B35 url('../images/theme4/chalk.png') 50% 0;
}
.theme4 #hometools .active a,
.theme4 #hometools a:hover,
.theme4 #title{
background: -moz-linear-gradient(top, #C99355, #DFC28A);
background: -webkit-gradient(linear, center bottom, center top, from(#DFC28A), to(#C99355));
}
.theme4 #hometools{
border-bottom:3px solid #DFC28A;
}
/* Theme5 (Dark App) */
body.theme5,
body.homePage.theme5{
background: -moz-linear-gradient(top, #53595F, #383E46);
background: -webkit-gradient(linear, center bottom, center top, from(#383E46), to(#53595F));
}
.theme5 #hometools .active a,
.theme5 #hometools a:hover,
.theme5 #title{
background: -moz-linear-gradient(top, #3B3B3B, #2F2F2F);
background: -webkit-gradient(linear, center bottom, center top, from(#2F2F2F), to(#3B3B3B));
}
.theme5 #hometools{
border-bottom:3px solid #2F2F2F;
}
.theme5 #logo{
background: url('../images/logo-light.png') no-repeat 50% 0;
}
/* Theme6 (Teal) */
body.theme6,
body.homePage.theme6{
background: -moz-linear-gradient(top, #111, #444);
background: -webkit-gradient(linear, center bottom, center top, from(#444), to(#111));
}
.theme6 #hometools .active a,
.theme6 #hometools a:hover,
.theme6 #title{
background: -moz-linear-gradient(top, #036EB4, #002B3C);
background: -webkit-gradient(linear, center bottom, center top, from(#002B3C), to(#036EB4));
}
.theme6 #hometools{
border-bottom:3px solid #002B3C;
}
/* Theme7 (Blue) */
body.theme7,
body.homePage.theme7{
background: -moz-linear-gradient(top, #111, #444);
background: -webkit-gradient(linear, center bottom, center top, from(#444), to(#111));
}
.theme7 #hometools .active a,
.theme7 #hometools a:hover,
.theme7 #title{
background: -moz-linear-gradient(top, #364BAF, #2C324F);
background: -webkit-gradient(linear, center bottom, center top, from(#2C324F), to(#364BAF));
}
.theme7 #hometools{
border-bottom:3px solid #2C324F;
}
/* Theme8 (Purple) */
body.theme8,
body.homePage.theme8{
background: -moz-linear-gradient(top, #111, #444);
background: -webkit-gradient(linear, center bottom, center top, from(#444), to(#111));
}
.theme8 #hometools .active a,
.theme8 #hometools a:hover,
.theme8 #title{
background: -moz-linear-gradient(top, #7119CF, #3D1D5F);
background: -webkit-gradient(linear, center bottom, center top, from(#3D1D5F), to(#7119CF));
}
.theme8 #hometools{
border-bottom:3px solid #3D1D5F;
}
/* Theme9 (Pink) */
body.theme9,
body.homePage.theme9{
background: -moz-linear-gradient(top, #111, #444);
background: -webkit-gradient(linear, center bottom, center top, from(#444), to(#111));
}
.theme9 #hometools .active a,
.theme9 #hometools a:hover,
.theme9 #title{
background: -moz-linear-gradient(top, #CF33BD, #7F2F76);
background: -webkit-gradient(linear, center bottom, center top, from(#7F2F76), to(#CF33BD));
}
.theme9 #hometools{
border-bottom:3px solid #7F2F76;
}
/* Theme10 (Red) */
body.theme10,
body.homePage.theme10{
background: -moz-linear-gradient(top, #111, #444);
background: -webkit-gradient(linear, center bottom, center top, from(#444), to(#111));
}
.theme10 #hometools .active a,
.theme10 #hometools a:hover,
.theme10 #title{
background: -moz-linear-gradient(top, #B92A00, #711200);
background: -webkit-gradient(linear, center bottom, center top, from(#711200), to(#B92A00));
}
.theme10 #hometools{
border-bottom:3px solid #711200;
}
/* Theme11 (Maroon) */
body.theme11,
body.homePage.theme11{
background: -moz-linear-gradient(top, #111, #444);
background: -webkit-gradient(linear, center bottom, center top, from(#444), to(#111));
}
.theme11 #hometools .active a,
.theme11 #hometools a:hover,
.theme11 #title{
background: -moz-linear-gradient(top, #7F072E, #3F101F);
background: -webkit-gradient(linear, center bottom, center top, from(#3F101F), to(#7F072E));
}
.theme11 #hometools{
border-bottom:3px solid #3F101F;
}
/* Theme12 (Orange) */
body.theme12,
body.homePage.theme12{
background: -moz-linear-gradient(top, #111, #444);
background: -webkit-gradient(linear, center bottom, center top, from(#444), to(#111));
}
.theme12 #hometools .active a,
.theme12 #hometools a:hover,
.theme12 #title{
background: -moz-linear-gradient(top, #DF8D00, #9F5600);
background: -webkit-gradient(linear, center bottom, center top, from(#9F5600), to(#DF8D00));
}
.theme12 #hometools{
border-bottom:3px solid #9F5600;
}
/* Theme13 (Yellow) */
body.theme13,
body.homePage.theme13{
background: -moz-linear-gradient(top, #111, #444);
background: -webkit-gradient(linear, center bottom, center top, from(#444), to(#111));
}
.theme13 #hometools .active a,
.theme13 #hometools a:hover,
.theme13 #title{
background: -moz-linear-gradient(top, #EFDB00, #AFA000);
background: -webkit-gradient(linear, center bottom, center top, from(#AFA000), to(#EFDB00));
}
.theme13 #hometools{
border-bottom:3px solid #AFA000;
}
.theme13 #title h1{
color:#444;
text-shadow:0px 1px 1px #FFF36F;
}
/* Theme14 (Olive) */
body.theme14,
body.homePage.theme14{
background: -moz-linear-gradient(top, #111, #444);
background: -webkit-gradient(linear, center bottom, center top, from(#444), to(#111));
}
.theme14 #hometools .active a,
.theme14 #hometools a:hover,
.theme14 #title{
background: -moz-linear-gradient(top, #A2CF33, #596F22);
background: -webkit-gradient(linear, center bottom, center top, from(#596F22), to(#A2CF33));
}
.theme14 #hometools{
border-bottom:3px solid #596F22;
}
/* Theme15 (Green) */
body.theme15,
body.homePage.theme15{
background: -moz-linear-gradient(top, #111, #444);
background: -webkit-gradient(linear, center bottom, center top, from(#444), to(#111));
}
.theme15 #hometools .active a,
.theme15 #hometools a:hover,
.theme15 #title{
background: -moz-linear-gradient(top, #57AF15, #436F22);
background: -webkit-gradient(linear, center bottom, center top, from(#436F22), to(#57AF15));
}
.theme15 #hometools{
border-bottom:3px solid #436F22;
}
/* Theme16 (Brown) */
body.theme16,
body.homePage.theme16{
background: -moz-linear-gradient(top, #111, #444);
background: -webkit-gradient(linear, center bottom, center top, from(#444), to(#111));
}
.theme16 #hometools .active a,
.theme16 #hometools a:hover,
.theme16 #title{
background: -moz-linear-gradient(top, #885600, #3F2E10);
background: -webkit-gradient(linear, center bottom, center top, from(#3F2E10), to(#885600));
}
.theme16 #hometools{
border-bottom:3px solid #3F2E10;
}
/* Theme17 (Black) */
body.theme17,
body.homePage.theme17{
background: -moz-linear-gradient(top, #111, #444);
background: -webkit-gradient(linear, center bottom, center top, from(#444), to(#111));
}
.theme17 #hometools .active a,
.theme17 #hometools a:hover,
.theme17 #title{
background: -moz-linear-gradient(top, #747474, #000);
background: -webkit-gradient(linear, center bottom, center top, from(#000), to(#747474));
}
.theme17 #hometools{
border-bottom:3px solid #000;
}

/* 1.6 */
ul.actions,
.pagenav-next{
float:right;
}
ul.actions,
ul.archive-module,
ul.pagenav,
.pagination ul,
#article-index ul,
dl.article-info,
.article-info dd,
.cat-children ul{
margin:0;
padding:0;
list-style:none;
}
ul.actions li,
ul.archive-module li,
.pagination li,
ul.pagenav li{
display:inline;
}
.pagination li a{
margin:0 5px 0 0;
}
ul.pagenav{
height:24px;
margin:10px 0;
clear:both;
}
.article-info,
.article-info a,
.pagenavcounter{
font-size:12px !important;
color:#999;
}
.article-info dt{
display:none;
}