<div style="float:left;width:20%;">
<img src="components/com_contushdvideoshare/assets/contushdvideoshare-logo.jpg" alt="contushdvideoshare-logo" title="contushdvideoshare-logo"  />
</div>

<div style=" padding: 20px 0pt 0pt 50px; float: left; width: 70%;">
You have successfully installed Components and modules for ContusHDVideoShare.

<a href="http://www.hdvideoshare.net/HDVideoShare.pdf" target="_blank">Click here to download documentation for our extension.</a>

For further support or for any Customization requirement please email us at support@hdvideoshare.net

<a href="http://www.hdvideoshare.net" target="_blank">www.hdvideoshare.net </a>
</div>