@charset 'utf-8';

.mod_videoplayer {
	width: 100%;
	overflow: hidden;
	height: 500px;
}

.mod_videoplayer .video-sections {
	float: left;
	width: 20%;
}

.mod_videoplayer .video-sections ul.sections {
	display: block;
	height: 100%;
}

.mod_videoplayer .video-sections ul.sections li.section {
	background-color: transparent;
	background-image: url(../images/modsbg.jpg);
	background-repeat: repeat-x;
	background-position: 0 -86px;
	height: 40px;
	margin: 0 1px 0 1px;
}

.mod_videoplayer .video-sections ul.sections li.section.active,
.mod_videoplayer .video-sections ul.sections li.section.active:hover {
	background-position: 0 -44px;
}

.mod_videoplayer .video-sections ul.sections li.section:hover {
	background-position: 0 -126px;
}


.mod_videoplayer .video-sections ul.sections li.section h2,
.mod_videoplayer .video-sections ul.sections li.section h2 a {
	display: block;
	height: 100%;
	color: #5a5959;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 1em;
}

.mod_videoplayer .video-sections ul.sections li.section h2 a {
	padding: 10px 0 0 10px;
}

.mod_videoplayer .video-sections ul.sections li.section h2 a:hover {
	text-decoration: none;
}


.mod_videoplayer .video-sections ul.sections li.section.active h2 a,
.mod_videoplayer .video-sections ul.sections li.section.active:hover h2 a {
	color: #e0e0e0;
	text-shadow: 0 1px 1px #000;
}

.mod_videoplayer .video-sections ul.sections li.section h2 {
	font-size: 1em;
	font-weight: bold;
}

.mod_videoplayer .video-sections ul.sections li.section ul.section-videos {
	display: none;
}

.mod_videoplayer .video-player .video {
	background: #222;
	display: block;
}

.mod_videoplayer .video-player .content {
	margin-top: 4px;
	border: 1px solid #bcc2c7;
	background: #dfe1d3;
	padding: 10px;
	overflow: hidden;
}

.mod_videoplayer .video-player .content .title {
	background: transparent url(../images/video-title-bg.jpg) bottom left repeat-x;
	padding-bottom: 5px;
}

.mod_videoplayer .video-player .content .title span {
	
}

.mod_videoplayer .video-sections h3,
.mod_videoplayer .video-playlist h3 {
	font-size: 17px;
	background: transparent url(../images/modsbg.jpg) repeat-x top left;
	border-left: 1px solid #737373;
	border-right: #3d3d3d;
	border-bottom: 0;
	color: #202020;
	font-weight: bold;
	text-shadow: 0 1px 1px #cacaca;
	height: 34px;
	margin: 0 0 0;
	padding: 10px 0 0 10px;
}

.mod_videoplayer .video-sections img.video-icon,
.mod_videoplayer .video-playlist img.video-icon {
	top: 0;
	right: 0;
	position: relative;
}

.mod_videoplayer .video-playlist {
	float: left;
	width: 30%;
	margin-right: 10px;
}

.mod_videoplayer .video-playlist ul.playlist li.video {
	padding: 10px;
	cursor: pointer;
	overflow: hidden;
	border-bottom: 1px solid #dbd9d9;
}

.mod_videoplayer .video-playlist ul.playlist li.video:hover {
	background: transparent url(../images/alpha15.png);
}

.mod_videoplayer .video-playlist ul.playlist li.video .image {
	padding-right: 10px;
}

.mod_videoplayer .video-playlist ul.playlist li.video .image,
.mod_videoplayer .video-playlist ul.playlist li.video .date {
	float: left;
}

.mod_videoplayer .video-playlist ul.playlist li.video div.title h2,
.mod_videoplayer .video-playlist ul.playlist li.video div.title h2 a {
	font-size: 1em;
	color: #222;
}

.mod_videoplayer .video-playlist ul.playlist li.video div.title h2 a:hover {
	text-decoration: none;
}

.mod_videoplayer .video-player {
	width: 48%;
	float: right;
	height: 436px;
}

.mod_videoplayer .scrollbar {
	height: 436px;
	overflow-y: scroll;
}

.mod_videoplayer .scrollbar .scrollbar-handle {
	background: transparent url(../images/scrollhandle.jpg) no-repeat top center;
	background-position: 0 -7px;
}

.mod_videoplayer .scrollbar .scrollbar-handle-container {
	background: transparent url(../images/scrollbg.jpg) repeat-y top center;
}