#ja-topnavigation  {
	height: 26px;
}
#ja-topnavigation #top-navigation {
        height:24px;
	overflow: hidden;
        position:absolute;
        right:0;
        top:2px;
}

#ja-topnavigation #top-navigation ul.menu {
        background:#535353;
        border-left:1px solid #474747;
        border-right:1px solid #474747;
	text-transform: uppercase;
	height: 24px;
	overflow: hidden;
}

#ja-topnavigation #top-navigation li {
	float: left;
}

#ja-topnavigation #top-navigation li a {
	color: #fff;
	display: block;
	text-decoration: none;
        font:11px/24px Helvetica,Arial,sans-serif;
	text-shadow: #000 1px 1px 0;
	padding:0 5px;
	background: url("/templates/ja_t3_blank/images/bg-topnavigation.jpg") repeat-x;
}

#ja-topnavigation #top-navigation li a:hover {
    background:#fff;
    color:#535353;
    text-shadow:none;
}

#ja-mainnav {
    
}

#ja-mainnav, #ja-mainnav .main, #ja-mainnav .main .main-inner1, #ja-mainnav ul.megamenu {
	height: 30px;
}

#ja-mainnav ul.megamenu {
	overflow: hidden;
}

#ja-mainnav ul.megamenu li.menu-home {
	padding: 0 !important;
}

#ja-mainnav ul.megamenu li.menu-home a {
	padding: 0;
	margin: 0;
	width: 36px;
	height: 36px;
	display: block;
}

#ja-mainnav ul.megamenu li.menu-home span.menu-title {
	display: none;
}

#ja-mainnav li.menu-home span.has-image {
	height: 36px;
	width: 36px;
}

#ja-mainnav li.mega a {
	padding: 0;
	color: #FFFFFF;
}

#ja-mainnav li.mega {
        /*
	padding: 11px 10px 0 10px;
	font:13px/;
	font-weight: bold;
	text-shadow: #000 1px 1px 0;
	color: #3e3e3e !important;
	text-transform: uppercase;
	background: transparent url('../../images/tvazteca/btnsbg.gif') top right no-repeat;
	background-position: 0 -570px;*/
}

#ja-footer .ja-footnav {
	width: 720px;
	overflow: hidden;
	float: left;
	margin: 0;
}

#ja-footer .ja-footnav ul.menu {
	overflow: hidden;
}

#ja-footer .ja-footnav .menu li {
	width: 150px;
	padding: 0 15px;
	float: left;
	text-align: left;
}

#ja-footer .ja-footnav .menu li a {
	text-shadow: #fff 1px 1px 0px;
	font-weight: bold;
	font-size: 14px;
	color: #2d2d2d;
	text-decoration: none;
}

#ja-footer .ja-footnav .menu li.parent li {
	padding: 0;
}

#ja-footer .ja-footnav .menu li.parent li a {
	color: #454545;
	text-shadow: #fff 1px 1px 0;
	font-size: 12px;
	text-transform: none;
	font-weight: normal;
}

#ja-footer .ja-footnav .menu li.parent li a:hover {
	text-decoration: underline;
	color: #000;
}

#ja-footer .ja-footnav ul.menu-legal {
	text-align: left;
	color: #454545;
	margin-top: 20px;
	font-size: 12px;
	text-shadow: #fff 1px 1px 0;
	overflow: hidden;
	padding-left: 5px;
}

#ja-footer .ja-footnav ul.menu-legal li {
	float: left;
	padding: 0 10px;
	line-height: 14px;
	border-right: 1px solid #454545;
}

#ja-footer .ja-footnav ul.menu-legal li:last-child {
	border-right: 0;
}

#ja-footer .ja-footnav ul.menu-legal li a {
	color: #2d2d2d;
	text-decoration: none;
	text-shadow: #fff 1px 1px 0;
}

#ja-footer .ja-footnav ul.menu-legal li a:hover {
	text-decoration: underline;
}


#ja-cssmenu li { margin-left:5px; }
#ja-cssmenu a span { color:#fff;display:block;font:13px/30px Helvetica,Arial,sans-serif;margin-top:2px;padding:0 5px; }



#ja-cssmenu a.active span { background:#fff;color:#000;font:bold 13px/30px Helvetica,Arial,sans-serif;border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0; }


#ja-cssmenu .active.haschild span { background:#fff;border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0; }

#ja-cssmenu .haschild span {
}
/*#ja-cssmenu .haschild:hover span { background:#666; }*/

#ja-cssmenu a:hover { background:0!important; }
#ja-cssmenu a:hover span { background:#666;border-radius:5px 5px 0 0;color:#fff;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0; }



#ja-cssmenu li ul { background:#003366;border:none; display:block;text-indent:0!important;}
#ja-cssmenu li ul li { float:none;margin:0;padding:0;width:auto; }
#ja-cssmenu li ul a { margin:0;padding:0; }
#ja-cssmenu li ul a span { margin:0;padding:0 0 0 26px; }
#ja-cssmenu li ul a:hover span { background:#003366;color:#ffff00; }

#ja-cssmenu .haschild span,
#ja-cssmenu li ul a span {
	background: none;
	padding: 0 5px 0 5px !important;
}
#ja-cssmenu li.active ul li.active a.active span.menu-title {
	background: #036;
	color: #fff;
}

#ja-cssmenu li.active ul li.active a.active span.menu-title:hover {
	color: #ff0;
}

#ja-cssmenu li.active.sfhover a {
	color: #333 !important;
}

/**
 * Hide sub menus
 */
.havesubchild.no-arrow {
	background: none !important;
}

.havesubchildsfhover.no-arrow ul {
	display: none !important;
}