/* Son of Suckerfish Dropdowns
---------------------------------------------------------
Originally developed by Patrick Griffiths and Dan Webb
http://www.htmldog.com/articles/suckerfish/dropdowns/
---------------------------------------------------------
NOTE: After a deep research, we decide to divide this
CSS into 2 parts. The first part will define the layout.
The second part will define the visual look for this menu.
---------------------------------------------------------*/

/* STYLING THE MENU
-----------------------------------*/
/* 1st level */
#ja-cssmenu li a.active,
#ja-cssmenu li a.active:hover,
#ja-cssmenu li a.active:active,
#ja-cssmenu li a.active:focus {
	color: #333;
}

/* 2nd level and above */
#ja-cssmenu li ul {
	border: 1px solid #ccc;
	border-top: 0;
	background: #fff;
}

#ja-cssmenu li ul ul {
	border-top: 1px solid #ccc;
}

#ja-cssmenu li ul li {
	border-bottom: 1px solid #ccc;
	background: none;
}